.mobile-view {
    display: none;
}

@media(max-width:1200px) {
    .info {
        margin-top: 10vh;
        width: 40%;
        transform: translateY(-10vh);
    }

    .img-box {
        width: 18%;
        transform: translateX(-23vw);
    }
}

/*ini responsivenya*/
@media(max-width:960px) {
    .top-wrapper {
        display: none;
    }
    .img-box {
        width: 40%;
        bottom: 0;
    }

    .info {
        width: 50%;
    }

    .sosmed {
        display: none;
    }
}

@media(max-width:768px) {
    .top-wrapper {
        display: none;
    }
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 65px;
        gap: 0;
        flex-direction: column;
        background-color: #ff4321;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    } 

    .info {
        margin-top: 10vh;
        width: 40%;
        transform: translateY(-10vh);
    }

    .img-box {
        width: 18%;
        transform: translateX(-21vw);
    }

    .img-box img {
        z-index: 0;
        height: 50vmin;
    }

    .sosmed li {
        position: relative;
        top: 250px;
        right: -200px;
    }
}
  
  @media(max-width:500px) {
    #landing-page {
        display: none;
    }

    .top-wrapper {
        display: none;
    }
    .container {
        display: inline-flex;
        flex-direction: row-reverse;
    }

    .container .info p a {
        display: inline-block;
    }

    .info {
        margin-top: 45vh;
        display:inline-block;
        width: 100vmin;
        height: 40%;
        transform: translateX(-6vw);
    }

    .img-box {
        transform: translateX(35vw) translateY(-10vh);
        position: relative;
        height: 55%;
        left: 0;
        right: 0;

    }

    .sosmed li {
      position: relative;
      right: 70px;
      top: -200px;
    }
    
    #f01 {
        position:fixed;
        bottom: 4vh;
        margin-left: 1vmin;
        margin-bottom: 4vmin;
        width: 20px;
        height: 20px;
        opacity: .5;
    }

    #f01:checked ~ .container .info {
        transform: translateY(-40vh);
        height: 100vh;
    }

    #f01:checked ~ .container .info p {
        font-size: 5vmin;
    }

    #f01:checked ~ .container .img-box {
        display: none;
    }

    .mobile-view {
        display: block;
        position: fixed;
        bottom: 4vh;
        color: black;
        margin-left: 8vmin;
        margin-bottom: 4vmin;
        opacity: .5;
    }
    .mobile-view p {
        font-size: 15px;
        font-weight:bold;

    }
}
