* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.display {
    display: flex;
    background-image: url("../img/mushoku1.jpg");
    background-size: cover;
    justify-content: space-around;

}

.display .foto {
    display: flex;
    width: 40%;
    padding-bottom: 5vh;
    justify-content: space-around;
    transform: scale(.9);
    transition: all .5s;
    z-index: 0;
}

.display .foto:hover {
    transform: scale(1);
    transition: all .5s;
    z-index: 0;
}

.display .foto img {
    height: 500px;
}

.display .deskripsi {
    display: inline-block;
    padding: 40px;
    color: rgb(255, 254, 254);
    background-color: rgb(102, 66, 0, 0.5);
    text-shadow: 1px 1px 9px rgb(253, 149, 112);
    font-family: sans-serif;
    width: 60%;
    align-items: center;
    margin: 50px;
    border-radius: 1pc;
}

.display .deskripsi h1 {
    font-size: 6vmin;
    transition: ease-in .5s;
}

.display .deskripsi p {
    font-size: 20px;
    transition: ease-in .5s;
    text-align: justify;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    nav ul {
        width: 45%;
    }
    .display .deskripsi {
        margin: 25px;
    }
}

@media screen and (max-width: 576px) {
    nav ul {
        position: absolute;
        right: 0;
        top: 50px;
        width: 100%;
        background-color: rgba(253, 253, 253, 0);
        transform: translateY(-100%);
        transition: ease .5s;
        z-index: 0;
    }

    nav ul.slide {
        transform: translateY(0);
        background-color: rgb(117, 94, 51, .5);
    }

    .nav ul li a{
        align-items: right;
    }

    .menu {
        display: flex;
    }


    .display {
        display: block;
    }

    .display .foto {
        width: 100%;

    }

    .display .deskripsi {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
}
